@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
    width: 7px;
    height: 5px;
}
 
/* Track */
::-webkit-scrollbar-track {
    background: #C7E9C9;
    border-radius: 25px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background: #00A500;
    border-radius: 5px;
}
 
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #64C764;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  display: none;
}